<div class="auth-container">
  <h2>Sign Up</h2>
  <form (ngSubmit)="onSignup()" #signupForm="ngForm">
    <input
      type="text"
      name="name"
      [(ngModel)]="name"
      placeholder="Name"
      required
    />
    <input
      type="email"
      name="email"
      [(ngModel)]="email"
      placeholder="Email"
      required
    />
    <input
      type="password"
      name="password"
      [(ngModel)]="password"
      placeholder="Password"
      required
    />
    <select name="role" [(ngModel)]="role" class="form-control" required>
      <option value="" disabled selected>Select Role</option>
      <option value="user">User</option>
      <option value="admin">Admin</option>
    </select>

    <button type="submit" [disabled]="!signupForm.valid">Sign Up</button>
    <p>
      Already have an account?
      <a routerLink="/login">Login</a>
    </p>
  </form>
</div>
